/***** GENERAL STYLES *****/

*, *:before, *:after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

body {
     font-size: 24px;
     font-family: Helvetica, Arial, sans-serif;
     line-height: 1.65;
     color: #3a3a3a;
     background: #fff;
     margin: 0 auto;
     padding: 0;
     cursor: default;
     width: 85%;
     max-width: 1260px; 
}

nav a, nav a:link, nav a:visited {
     width: 25%;
     border-bottom: solid 2px rgba(0, 0, 0, 0.3);
     margin: 0;
     display: inline-block;
     padding: 40px 10px 30px 60px;
     vertical-align: bottom;
     color: #3a3a3a;
     text-decoration: none;
}

nav a:hover, nav a:focus, nav a.selected {
     color: #08c;
     border-bottom: solid 4px #08c;
     padding-bottom: 28px;
}

nav a:first-child {
     padding-left: 90px;
}

nav img {
     vertical-align: middle;
     border: 0;
}

article {
     width: 60%;
     margin: 0 auto;
}

header h1 {
     margin-bottom: 0;
     padding-bottom: 0;
     line-height: 1em;
}

header p {
     margin-top: 0;
     padding-top: 0;
     line-height: 1em;
     font-size: 0.8em;
     color: #888;
}

header a, header a:link, header a:visited {
     color: #3a3a3a;
     text-decoration: none;
}

header a:hover, header a:focus {
     color: #08c;
     text-decoration: none;
}

a, a:link, a:visited {
     color: #08c;
     text-decoration: none;
     -webkit-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out
}

a:hover, a:focus {
     text-decoration: underline;
     -webkit-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out
}

footer {
     margin: 40px 0 20px 0;
     border-top: solid 2px rgba(0, 0, 0, 0.3);
     padding: 20px 20px 10px 20px;
}
footer a:last-child {
     float: right;
}



/***** HOME PAGE STYLES *****/

#toggleComments {
     border: 0;
     background: transparent;
     color: #08c;
     margin: 0;
     padding: 0;
     display: block;
     text-align: center;
     width: 100%;
}

#toggleComments:hover, #toggleComments:active {
     background: transparent;
     border: 0;
     text-decoration: underline;
}



/***** INFO PAGE STYLES *****/

.social {
     list-style: none;
     margin: 0 auto 40px auto;
     padding: 0;
     max-width: 500px;
}

.social:after {
     content: " ";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.social li {
     width: 250px;
     float: left;
}

.social a {
     margin-right: 10px;
     margin-bottom: 10px;
     padding: 10px;
     display: block;
     background: #f9f9f9;
     border-radius: 4px;
     font-weight: bold;
     color: #555;
     text-decoration: none;
     background: #e2e2e2;
     background: -webkit-linear-gradient(top, #fff 0%, #f1f1f1 5%, #e2e2e2 100%);
     background: linear-gradient(to bottom, #fff 0%, #f1f1f1 5%, #e2e2e2 100%);
     box-shadow: inset 0 0 4px #fff, 0 2px 3px #e3e3e3;
     border: solid 1px #c1c1c1;
     border-top-color: #ccc;
     border-bottom-color: #aaa;
}

.social a:hover {
     border: solid 1px #2e69a3;
     border-top-color: #4081af;
     border-bottom-color: #20559a;
     background: #51a6e7;
     background: -webkit-linear-gradient(top, #51a6e7 0%, #377ad0 100%);
     background: linear-gradient(to bottom, #51a6e7 0%, #377ad0 100%);
     color: #fff;
     text-shadow: 0 -1px #336ca8;
     border-radius: 3px;
     box-shadow: inset 0 1px #72b9eb, 0 1px 3px rgba(0, 0, 0, 0.3);
}


.social li:nth-child(even) a {
     margin-right: 0;
}

.social.wishlist a {
     text-align: center;
     padding: 20px 10px 10px 10px;
}

.social.wishlist img {
     margin-right: 0;
     border: solid 1px #999;
     width: 175px;
     height: 175px;
     background: #fff;
     border-radius: 4px;
     padding: 4px;
}

@media all and (max-width: 600px) {
     .social {
          max-width: 250px;
     }

     .social a {
          margin-right: 0;
     }
}