body, html {
     padding:25px;
     margin:0;
     font-family:helvetica, arial;
     font-size:18px;
}

.food {
     cursor:move;
     height:100px;
     width:100px;
     margin:20px;
     text-align:center;
     border:solid 1px #000;
     border-radius:6px;
     padding:5px;

     display: -webkit-box;
     -webkit-box-orient: horizontal;
     -webkit-box-pack: center;
     -webkit-box-align: center;

     display: -moz-box;
     -moz-box-orient: horizontal;
     -moz-box-pack: center;
     -moz-box-align: center;

     display: box;
     box-orient: horizontal;
     box-pack: center;
     box-align: center;
}

#apple {
     background:red;
}

#banana {
     background:yellow;
}

#orange {
     background:orange;
}

#cookie {
     background:white;
}

#drag-zone {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
 
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

#drop-zone {
     margin-top:50px;
     clear:both;
     border:solid 3px #aaa;
     padding:10px;
     font-size:1.5em;
     text-align:center;
}
