body {background-color: #000000;
margin: 20px;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
margin-right: 20px;}

td {color: #DBDBDB;
font-size: 12pt;
font-family: Tahoma, Arial, Sans-Serif;
line-height: 150%;
text-align: justify;}

.poem {color: #DBDBDB;
font-size: 10pt;
font-family: Tahoma, Arial, Sans-Serif;
line-height: 120%;
text-align: justify;}

a:link {color: #DBDBDB;
text-decoration: none;
font-weight: bold;}

a:visited {color: #DBDBDB;
text-decoration: none;
font-weight: bold;}

a:hover {color: #FF6600;
text-decoration: none;
font-weight: bold;}

a:active {color: #FF0000;
text-decoration: none;
font-weight: bold;}

.link a:link {color: #0070C6;
font-size: 10.25pt;
line-height: 120%;
text-decoration: underline;
font-weight: none;}

.link a:visited {color: #0070C6;
font-size: 10.25pt;
line-height: 120%;
text-decoration: underline;
font-weight: none;}

.link a:hover {color: #FF6600;
font-size: 10.25pt;
line-height: 120%;
text-decoration: none;
font-weight: bold;}

.link a:active {color: #FF0000;
font-size: 10.25pt;
line-height: 120%;
text-decoration: none;
font-weight: bold;}