html, body {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: flexbox;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center;

    flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;

    flex-pack: center;

    font-size: 1.2em;
    color: #000;
}

a, a:link, a:visited {
    color: #196bd1;
    text-decoration: none;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

a:hover {
    color: #0b39e3;
    text-decoration: underline;
}

.task-header a {
    color: #407ecb;
}

.task-header:hover a {
    text-decoration: none;
    color: #1f35db;
}

.active {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=10);
}

.inactive {
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter:alpha(opacity=4);
}

.super-inactive {
    opacity: 0.2;
    -moz-opacity: 0.2;
    filter:alpha(opacity=2);
}

.transition {
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

.container {
    width: 950px;
    margin: 0 auto;
}

.title {
    font-weight: bold;
    font-size: 3em;
    margin: 0;
    cursor: pointer;
}

.sub-title {
    font-size: 1.4em;
    margin: -0.5em 0 1.5em 0;
    font-style: italic;
    color: #999;
    cursor: pointer;
}

.sub-title.active {
    color: #999;
}

.slide {
    visibility: visible;
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
}

.slide.hidden {
    visibility: hidden;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
    padding: 0;
    margin: 0;
}

.task {
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

.task:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=10);
}

.task.completed:hover {
    color: #000;
    background-color: #d0e571;
}

.task.incomplete:hover {
    background-color: #f1aa92;
}

.task.active, .task.active:hover {
    border-color: #aaa;
    background: #eee;
}

.task-header {
    font-weight: bold;
    font-size: 1.8em;
    margin: 0;
    padding: 6px 12px 6px 46px;
}

.task.completed .task-header {
    background: url(completed.png) no-repeat 6px center;
}

.task.incomplete .task-header {
    background: url(incomplete.png) no-repeat 6px center;
}

.task-details {
    display: none;
    margin: 0 48px 12px 48px;
    padding: 0;
}

.task-details > li {
    list-style-type: disc;
    margin: 0;
    margin-left: 20px;
    padding: 4px 0;
}

.code {
    font-family: consolas, mono-space;
    margin: 10px;
    margin-bottom: 0;
    padding: 5px 15px;
    background: #888;
    color: #fff;
    border-radius: 10px;
}